
#calculator h3{
    background-image: linear-gradient(120deg, blue, green, yellow, red, pink);
    padding: 10px 0px;
    margin-top: 10px;
    color: rgb(47, 47, 185);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#calculator .warningText{
    margin-top: 15px;
    color: rgba(26, 2, 2, 0.911);
    opacity: 80%;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

/* #################### Input Section Style ################ */
#calculator .calSec{
    width: 70%;
    margin-left: 15%;
    min-height: 450px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255);
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border-radius: 40px;
}

#calculator .calSec input{
    line-height: 35px;
    margin-bottom: 10px;
}

#calculator .calSec .inputSec input{
    width: 350px;
    margin: 10px;
    box-shadow: 0px 1px 1px 1px rgba(15, 14, 14, 0.932);
}

#calculator .calSec button{
    cursor: pointer;
    width: 120px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(54, 25, 82);
    background-image: linear-gradient(120deg, yellow, red);
    border-radius: 15px;
    box-shadow: 0px 2px 2px 2px rgb(19, 18, 18);
}
#calculator .calSec button:hover{
    background-image: linear-gradient(120deg, red, yellow);
}

/* #################### Output Section Style ################ */
.calOutput{
    /* display: none; */
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
    background-color: rgba(255, 255, 255);
    font-weight: bold;
    padding: 15px;
    text-align: center;
    border-radius: 40px;
}
#claculator .calOutput{
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;

}
#calculator .calOutput #alert{
    padding: 10px;
    margin: 10px 0px 5px 0px;
    background-color: rgb(49, 44, 13);
    color: rgba(255, 255, 255, 0.911);
}
#calculator .calOutput #output{
    text-align: center;
    color: rgb(2, 24, 2);
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(70, 62, 19);
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#calculator .calOutput #check{
    padding: 10px;
    color: rgb(236, 225, 225);
    background-color: rgb(66, 59, 18);
}

/* #################### Link Button Style ################ */
#calculator .links{
    margin: 10px;
}

#calculator .links button{
    float: left;
    width: 45%;
    margin: 2%;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    background-image: linear-gradient(60deg, rgb(7, 99, 79), rgb(197, 216, 27));
    border-radius: 20px;
    color: rgba(255, 254, 254, 0.904);
    cursor: pointer;

}


/* #################### Information Text Style ################ */
#info{
    margin: 50px;
}
#indirect_system{
    margin-top: 10px;
    text-align: center;
}

#direct_system{
    margin-top: 10px;
    text-align: center;
}

table{
    margin-bottom: 10px;
    margin-left: 1%;
    width: 98%;
}


/* #################### Responsive Css ################ */
@media screen and (max-width: 780px) {
    #calculator .calSec{
        width: 96%;
        margin-left: 2%;
    }
    #calculator .links button{
        text-align: left;
        width: 45%;
        height: 80px;
        padding: 15px;
        margin: 2%;
        font-weight: bold;
        font-size: 12px;
    }
}