#claculator{
   
}
#calculator h3{
    background-image: linear-gradient(120deg, blue, green, yellow, red, pink);
    padding: 10px 0px;
    margin-top: 10px;
    color: rgb(47, 47, 185);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#calculator .warningText{
    margin-top: 15px;
    color: rgba(26, 2, 2, 0.911);
    opacity: 80%;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

#calculator .links{
    margin: 10px;
}

#calculator .links button{
    float: left;
    width: 45%;
    margin: 2%;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    background-image: linear-gradient(60deg, rgb(12, 235, 187), rgb(27, 162, 216), rgb(10, 109, 112));
    color: rgb(14, 12, 12);
    cursor: pointer;
}

#calculator .calSec{
    font-weight: bold;
    padding: 15px;
    text-align: center;
}

#calculator .calSec input{
    line-height: 35px;
    margin-bottom: 10px;
}

#calculator .calSec .inputSec input{
    width: 350px;
    margin: 5px;
}

#calculator .calSec button{
    cursor: pointer;
    width: 25%;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(54, 25, 82);
    background-image: linear-gradient(120deg, yellow, red);
}

#claculator .calOutput{
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;

}
#calculator .calOutput #alert{
    padding: 10px;
    margin: 10px 0px 5px 0px;
    background-color: rgb(49, 44, 13);
    color: rgba(255, 255, 255, 0.911);
}
#calculator .calOutput #output{
    text-align: center;
    color: rgb(2, 24, 2);
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(70, 62, 19);
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#calculator .calOutput #check{
    padding: 10px;
    color: rgb(236, 225, 225);
    background-color: rgb(66, 59, 18);
}
#indirect_system{
    margin-top: 10px;
    overflow: none;
    text-align: center;
}

#direct_system{
    margin-top: 10px;
    overflow: none;
    text-align: center;
}

table{
    margin-bottom: 10px;
    margin-left: 1%;
    width: 98%;
}

@media screen and (max-width: 780px) {
    #calculator .links button{
        text-align: left;
        width: 45%;
        height: 80px;
        padding: 15px;
        margin: 2%;
        font-weight: bold;
        font-size: 12px;
    }
}