* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    /* background-image: linear-gradient(90deg, rgba(55, 0, 255, 0.993),  rgba(10, 134, 236, 0.76)); */
    background-image: linear-gradient(120deg, rgba(65, 138, 98, 0.658), rgb(12, 119, 79, 0.658), rgb(5, 119, 79, 0.658));

}

button{
    border: 0;
}

#header{
    padding-right: 15px;
    background-color: rgba(0, 0, 0, 0.904);
}

#header marquee{
    margin-left: 3%;
    color: brown;
    background-color: cornsilk;
}
#header h1{
    text-align: center;
    color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: -10px;
    font-weight: bold;
    font-size: 35px;
}

#pagination{
    margin-left: 9%;
    margin-top: 20px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 80%;
    height: 55px;
    color: rgb(173, 150, 196);
    background-color: rgba(1, 12, 43, 0.801);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

#pagination button{
    padding: 5px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

#options{
    margin-top: 20px;
    margin-bottom: 50px;
}

#options button{
    float: left;
    width: 30%;
    margin-left: 3%;
    margin-top: 5px;
    margin-bottom: 25px;
    height: 120px;
    font-weight: bold;
    font-size: 20px;
    background-image: linear-gradient(60deg, rgb(12, 235, 187), rgb(27, 162, 216), rgb(10, 109, 112));
    color: rgb(14, 12, 12);
    border: 0px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease;

    box-shadow: 1px 3px 4px 6px white;
}
#options button:hover{
    background-image: linear-gradient(60deg, rgb(3, 199, 52), rgb(65, 216, 27), rgba(7, 104, 15, 0.829));
    box-shadow: 1px 3px 4px 6px rgba(14, 10, 10, 0.658);
    transition: all 0.5s ease;
}

.footer{
    padding-top: 10px;
    color: white;
    margin-top: 500px;
    min-height: 100px;
    background-color: black;
}

.footer .links{
    margin-left: 20px;
}

.footer .links button{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: blue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.footer .links button a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

#contactinfo{
    padding-right: 15px; 
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 20px;
    background-image: linear-gradient(60deg, rgba(255, 255, 0, 0.199), rgba(220, 20, 60, 0.39), rgba(255, 0, 0, 0.137));
    color: rgb(245, 244, 244);
}

#contactinfo button{
    width: 150px;
    height: 45px;
    padding: 10px;
    margin: 20px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(219, 213, 213);
    background-color: rgba(7, 43, 43, 0.74);
    border-radius: 2px;
    border: 0;
    cursor: pointer;
}

#contactinfo button:hover{
    background-color: blanchedalmond;
    color: rgb(0, 0, 204);
    border: 2px solid rgb(1, 1, 221);
}

.footer #copyright{
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: cornsilk;
    background-color: rgba(202, 162, 162, 0.089);
    padding: 10px;
}

.footer #copyright a {
    text-decoration: none;
    color: blanchedalmond;
}

.footer #copyright #myname{
    color: chartreuse;
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width: 780px) {
    #options button{
        /* margin-left: 55px; */
        margin-bottom: 40px;
        border-radius: 20px;
    }
}