* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    /* background-image: linear-gradient(45deg, #ffff6b, #ff5d5d, #16cf16, #6262ff, #ff8ae6, #ee113d); */
    /* background-image: linear-gradient(90deg, rgba(55, 0, 255, 0.993),  rgba(10, 134, 236, 0.76)); */
    /* background-image: linear-gradient(120deg, rgba(65, 138, 98, 0.658), rgb(12, 119, 79, 0.658), rgb(5, 119, 79, 0.658)); */
    background-image: linear-gradient(145deg, #0cebbb, #1ba2d8, #0a6d70, rgba(7, 57, 77, 0.788));
}

button{
    border: 0;
}

#header{
    padding-right: 15px;
    background-color: rgba(0, 0, 0, 0.904);
}

#header marquee{
    margin-left: 3%;
    color: #ad2727;
    background-color: cornsilk;
}
#header h1{
    text-align: center;
    color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: -10px;
    font-weight: bold;
    font-size: 35px;
}

#pagination{
    margin-left: 9%;
    margin-top: 20px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 80%;
    height: 55px;
    color: #ad96c4;
    background-color: #010c2bcc;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

#pagination button{
    padding: 5px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

#pagination button:hover{
    background-color: #4040f1;
    color: #ffffff;
}

#options{
    margin-top: 20px;
    margin-bottom: 50px;
}

#options button{
    background-color: #fff8dc;
    float: left;
    width: 30%;
    margin-left: 3%;
    margin-top: 5px;
    margin-bottom: 25px;
    height: 120px;
    font-weight: bold;
    font-size: 20px;
    /* background-image: linear-gradient(125deg, #008000, #ffff00, #ff0000, #f0405d); */
    /* background-image: linear-gradient(60deg, #0cebbb, #1ba2d8, #0a6d70); */
    color: rgba(24, 56, 3, 0.979);
    border: 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 3px 3px 4px 5px #221f1fa8; 
}
#options button:hover{
    background-color: #050505;
    color: rgba(248, 248, 248, 0.911);
    /* background-image: linear-gradient(125deg, #f83d5c, #ff0000, #ffff00, #008000); */
    /* background-image: linear-gradient(60deg, #03c734, #41d81b, #07680fd3); */
    box-shadow: 1px 3px 4px 6px #f3f3f3;
    transition: all 0.3s ease;
}

.footer{
    padding-top: 10px;
    color: white;
    /* margin-top: 500px; */
    min-height: 100px;
    background-color: #000000;
}

.footer .links{
    margin-top: 20px;
    margin-left: 20px;
}

.footer .links button{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #0000ff;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.footer .links button a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

#contactinfo{
    padding-right: 15px; 
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 20px;
    background-image: linear-gradient(60deg, #ffff0033, #dc143c63, #ff000023);
    color: #f5f4f4;
}

#contactinfo button{
    width: 150px;
    height: 45px;
    padding: 10px;
    margin: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #dbd5d5;
    background-color: #072b2bbd;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
}

#contactinfo button:hover{
    background-color: #ffebcd;
    color: #0000cc;
    border: 2px solid #0101dd;
}

.footer #copyright{
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff8dc;
    background-color: #caa2a217;
    padding: 10px;
}

.footer #copyright a {
    text-decoration: none;
    color: #ffebcd;
}

.footer #copyright #myname{
    color: #7fff00;
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width: 780px) {
    #options button{
        margin-left: 13%;
        margin-bottom: 40px;
        border-radius: 20px;
    }

}